n8n/workflows/daily-signals.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -976,
        96
      ],
      "id": "f5012bed-1eeb-4478-be1f-ac011f5a905f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8711895424:AAEh1wlbY7j_xG7D41dUZoA7nSQnm-KFLK8/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1256122537"
            },
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        96
      ],
      "id": "71b7de05-62ad-4624-8f45-29d0701c0672",
      "name": "tg"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/hh/digest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -752,
        96
      ],
      "id": "5ad61993-a974-4f71-8fbd-3ce7831c4887",
      "name": "hh"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items ?? [];\nreturn items.map((item) => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        96
      ],
      "id": "1552a390-dea8-46a3-b615-9ba6cd8d958d",
      "name": "Code (item)"
    },
    {
      "parameters": {
        "jsCode": "const lines = items.slice(0, 3).map((item) => {\n  const x = item.json;\n  return `${x.rank}. ${x.employer_name}\nScore: ${x.total_score}\n- ${x.reasons[0]}\n- ${x.reasons[1]}\n\n${x.opener}`;\n});\n\nconst text = `Recruiter Radar Digest\\n\\n${lines.join(\"\\n\\n--------------------\\n\\n\")}`;\n\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        96
      ],
      "id": "37902932-d461-495f-8715-46b483857ec7",
      "name": "Code (digest text)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "hh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tg": {
      "main": [
        []
      ]
    },
    "hh": {
      "main": [
        [
          {
            "node": "Code (item)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (item)": {
      "main": [
        [
          {
            "node": "Code (digest text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (digest text)": {
      "main": [
        [
          {
            "node": "tg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ae2a8d5a-7583-410a-8dd8-f1ef2504b35a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84653d17ed330d6f66dfc59ddf38cfdf3ec273c3c0517689c825e2c8b564f489"
  },
  "id": "uZ85pVxodzsOk4qF",
  "tags": []
}